html,
body {
  margin: 0;
  padding: 0;
  background: rgb(51, 51, 51);
  font-family: "myFont";
  background: url(./inside.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@font-face {
  font-family: myFont;
  src: url(./LobsterTwo-Regular.ttf);
}
.header {
  margin-top: 30px;
}
.tabs {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  border-top: solid black 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
}
button {
  color: white;
  border: solid black 1px;
  border-radius: 12px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 75px;
}
button:hover {
  background-color: rgba(220, 20, 60, 0.4);
}
.main {
  background-color: rgba(0, 0, 0, 0.4);
  /* display: flex; */
  margin: 20px auto;
  height: 66vh;
  width: 66vw;
  max-width: 975px;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 3px 8px 2px;
}
.header,
.mainText,
.secondaryText,
.thirdText {
  text-shadow: 2px 2px black;
  color: white;
}
.mainText {
  text-align: center;
  font-size: 2.3rem;
}
.secondaryText {
  text-align: right;
  margin-top: 5%;
  margin-right: 10%;
  font-size: 1.5rem;
}
.thirdText {
  font-style: italic;
  font-size: 1.5rem;
  margin-left: 10%;
}
